.multimessage {
  min-height: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.starred .star {
  background-image: url("chrome://messenger/skin/icons/flaggedmail.png");
}

.info {
  color: GrayText;
}

.heading.info {
  color: GrayText;
}

#header-view-toolbox {
  font: message-box;
}

.toolbarbutton-1.msgHeaderView-button {
  color: -moz-DialogText;
  background-color: white;
}

.toolbarbutton-1.msgHeaderView-button:hover {
  background-color: rgb(230, 230, 230) !important;
}
