@import url(chrome://MonterailOverlay/skin/css/root.css);

#dirTree > treechildren {
  --treechildren-selectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
  --treechildren-selectedBackground: transparent;
  --treechildren-selectedFocusImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
  --treechildren-selectedFocusBackground: transparent;
  --treechildren-selectedFocusCurrentImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
  --treechildren-hoverImage: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1));
  --treechildren-hoverCurrentImage: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3));
  --treechildren-hoverSelectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
}


#abResultsTree > treechildren {
  --treechildren-selectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
  --treechildren-selectedBackground: transparent;
  --treechildren-selectedFocusImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
  --treechildren-selectedFocusBackground: transparent;
  --treechildren-selectedFocusCurrentImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
  --treechildren-hoverImage: linear-gradient(var(--tree-background-color-hover), var(--tree-background-color-hover));
  --treechildren-hoverCurrentImage: linear-gradient(var(--tree-background-color-hover), var(--tree-background-color-hover));
  --treechildren-hoverSelectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
}
