@import url(chrome://MonterailOverlay/skin/css/messenger.css);
#threadCols {
    margin-top: -3px !important;
}

/* Titlebar button */

#titlebar-min {
    list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#minimize-white) !important;
}

#titlebar-max {
    list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#maximize-white) !important;
}

#titlebar-close {
    list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-white) !important;
}

#messengerWindow[sizemode="maximized"] #titlebar-max {
    list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#restore-white) !important;
}

/* Calendar & Tast button on top right header */

#calendar-tab-button,
#task-tab-button {
    background-color: #eff0f1 !important;
}

/* Folder close icon */

.close-icon {
    list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-white) !important;
    -moz-image-region: rect(0px, 16px, 12px, -4px) !important;
}

.close-icon:hover {
    list-style-image: url(chrome://global/skin/icons/close.png) !important;
    -moz-image-region: rect(0, 40px, 20px, 20px) !important;
}

.close-icon[selected="true"] {
    list-style-image: url(chrome://global/skin/icons/close.png) !important;
    -moz-image-region: rect(0, 20px, 20px, 0) !important;
}

.close-icon[selected="true"]:hover {
    list-style-image: url(chrome://global/skin/icons/close.png) !important;
    -moz-image-region: rect(0, 40px, 20px, 20px) !important;
}

/* Tab color fix */

.tab-background-start[selected="true"]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before, .tab-background-end[selected="true"]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before{
  background-image: url("selected-start-dark.svg") !important;
}

.tab-background-end[selected="true"]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-start[selected="true"]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before {
    background-image: url("selected-end-dark.svg") !important;
}

.tab-background-middle[selected="true"] {
    background-color: var(--background-color-light);
}

statusbar{
    border: none;
}

#calendar-status-todaypane-button {
    color: #fff;
}

#threadCols treecol {
    background-color: #8c8c8c !important;
}