@import url(chrome://os_special/skin/addressbook.css);
@import url(chrome://MonterailOverlay/skin/css/root.css);
@import url(chrome://MonterailOverlay/skin/css/icons/adressbook.css);

#ab-toolbox>#addrbook-toolbar-menubar2:not(:-moz-lwtheme),
#ab-toolbox>#ab-bar2:not(:-moz-lwtheme) {
    color: var(--message-list-text-color);
    background-color: #fff;
}

.toolbarbutton-1 {
    -moz-context-properties: fill;
}

.toolbarbutton-1:not(:-moz-lwtheme),
.toolbarbutton-menubutton-button:not(:-moz-lwtheme) {
    color: #666;
    fill: #666;
}

toolbar[brighttext]>.toolbarbutton-1 {
    fill: #fff;
}

.toolbarbutton-1:-moz-window-inactive .toolbarbutton-icon,
.toolbarbutton-1:-moz-window-inactive>.toolbarbutton-text,
.toolbarbutton-menubutton-button:-moz-window-inactive>.toolbarbutton-icon,
.toolbarbutton-menubutton-button:-moz-window-inactive>.toolbarbutton-text {
    opacity: 0.5;
}

.toolbarbutton-menubutton-button>.toolbarbutton-icon,
.toolbarbutton-1 .toolbarbutton-icon {
    width: 16px !important;
    height: 16px !important;
    margin: 1px !important;
}

#dirTreeBox>#dirTree {
    background-color: var(--background-color);
}

#dirTreeBox>#dirTree:-moz-window-inactive {
    background-color: var(--background-color-inactive);
}

#abResultsTree {
    background-color: #fff;
}

#abResultsTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected),
#abResultsTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus),
#dirTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text,
#dirTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus) {
    color: #fff;
}

#dirTree>treechildren::-moz-tree-image,
#abResultsTree>treechildren::-moz-tree-image {
    width: 14px;
    height: 14px;
}