/* :::: Credit where credit is due :::: */
/* Sharebird: light-weight theme idea */

@import url(chrome://os_special/skin/messenger.css);
@import url(chrome://MonterailOverlay/skin/css/root.css);

#messengerWindow>#navigation-toolbox:not(:-moz-lwtheme):not(:-moz-window-inactive) {
    color: #fff !important;
    background-color: var(--background-color) !important;
}

#messengerWindow>#navigation-toolbox:not(:-moz-lwtheme):-moz-window-inactive {
    color: #fff !important;
    background-color: var(--background-color-inactive) !important;
}

#menubar-items>#mail-menubar>menu:not(:-moz-lwtheme) {
    -moz-appearance: none;
    border-style: none;
    color: inherit !important;
}

#menubar-items>#mail-menubar>menu[_moz-menuactive="true"]:not([disabled="true"]):not(:-moz-lwtheme) {
    background-color: hsla(0, 0%, 0%, .12);
}

#menubar-items>#mail-menubar>menu[_moz-menuactive="true"][open="true"]:not([disabled="true"]):not(:-moz-lwtheme) {
    background-color: hsla(0, 0%, 0%, .22);
}

.mail-toolbox:not(:-moz-lwtheme),
#mailContent>#mail-toolbox:not(:-moz-lwtheme),
.contentTabInstance>.contentTabToolbox:not(:-moz-lwtheme),
#folderpane-mode-selector-menulist,
#threadCols {
    box-shadow: none;
    background-image: none;
    background-color: var(--background-color-light);
    color: var(--message-list-text-color);
}

#calendar-add-task-button {
    color: var(--message-list-text-color);
}

#folderpane-mode-selector-menulist {
    border: 0;
}

#attachmentView>#attachmentBar {
    color: var(--message-list-text-color);
    background-color: #fcfcfc;
}

.tabmail-tab .tab-background-middle[selected=true] {
    --fgTabBackgroundColor: #fff;
    --fgTabTexture: linear-gradient(transparent, transparent);
}

.tabmail-tab:not([selected]):not(:-moz-lwtheme) {
    color: inherit !important;
}

.treecol-icon,
.tabmail-tab,
.toolbarbutton-1 {
    -moz-context-properties: fill;
}

.toolbarbutton-1:not(:-moz-lwtheme),
.toolbarbutton-menubutton-button:not(:-moz-lwtheme) {
    color: var(--message-list-text-color);
    fill: var(--message-list-text-color);
}

#navigation-toolbox .toolbarbutton-1:not(:-moz-lwtheme),
#navigation-toolbox .toolbarbutton-menubutton-button:not(:-moz-lwtheme),
.tab-label {
    color: #fff;
    fill: #fff;
}

.tabmail-tab[selected]:not(:-moz-lwtheme):-moz-window-inactive .tab-icon-image,
.tabmail-tab[selected]:not(:-moz-lwtheme):-moz-window-inactive .tab-label-container,
.toolbarbutton-1:-moz-window-inactive .toolbarbutton-icon,
.toolbarbutton-1:-moz-window-inactive>.toolbarbutton-text,
.toolbarbutton-menubutton-button:-moz-window-inactive>.toolbarbutton-icon,
.toolbarbutton-menubutton-button:-moz-window-inactive>.toolbarbutton-text {
    opacity: 0.5;
}

.toolbarbutton-menubutton-button>.toolbarbutton-icon,
.toolbarbutton-1 .toolbarbutton-icon {
    width: 16px !important;
    height: 16px !important;
    margin: 1px !important;
    padding: 0 !important;
}

toolbar>#button-chat[unreadMessages="true"] {
    fill: var(--tree-background-color-selected);
}

toolbar[brighttext]>.toolbarbutton-1 {
    fill: #fff;
}

#quick-filter-bar {
    background-color: var(--background-color-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
}

#singlemessage>#msgHeaderView {
    background-color: var(--background-color);
}

/* foldertree & threadtree */

#folderPaneBox>#folderTree {
    background-color: var(--background-color);
}

#folderPaneBox>#folderTree:-moz-window-inactive {
    background-color: var(--background-color-inactive);
}

#folderTree>treechildren,
#threadTree>treechildren,
#calendar-task-tree treechildren,
#unifinder-search-results-tree>treechildren {
    --treechildren-selectedBackground: var(--tree-background-color-selected) !important;
    --treechildren-selectedFocusBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusCurrentBackground: var(--tree-background-color-selected);
    --treechildren-hoverSelectedBackground: var(--tree-background-color-selected);
}

#threadTree>treechildren, 
#calendar-task-tree treechildren,
#unifinder-search-results-tree>treechildren {
    --treechildren-hoverBackground: var(--tree-background-color-hover);
    --treechildren-hoverCurrentBackground: var(--tree-background-color-hover);
    color: #fff;
}

#folderTree>treechildren {
    --treechildren-hoverBackground: rgba(255,255,255,.1);
    --treechildren-hoverCurrentBackground: rgba(255,255,255,.1);
}

#threadContentArea>#threadTree, 
#calendar-task-tree treechildren,
#calendar-task-tree treechildren::-moz-tree-row(even),
#calendar-task-tree treechildren::-moz-tree-row(odd),
#unifinder-search-results-tree>treechildren,
#unifinder-search-results-tree>treechildren::-moz-tree-row(even),
#unifinder-search-results-tree>treechildren::-moz-tree-row(odd) {
    background-color: var(--thread-background-color);
}

#threadTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected),
#threadTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus),
#folderTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text,
#folderTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus),
#calendar-task-tree treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text,
#calendar-task-tree treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus),
#unifinder-search-results-tree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text,
#unifinder-search-results-tree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus) {
    color: #fff;
}

#rssSubscriptionsList>treechildren::-moz-tree-image,
#folderPaneBox>#folderTree>treechildren::-moz-tree-image {
    width: 14px;
    height: 14px;
}

/*     Folder Tree sizes    */

treechildren:-moz-tree-twisty {
    width: 12px !important;
    -moz-image-region: rect(0px 12px 12px 0px) !important;
    -moz-appearance: none !important;
    list-style-type: image !important;
}

#folderTree>hbox {
    margin-top: 30px !important;
}

#folderTree>treechildren::-moz-tree-row {
	margin-top: 0px !important;
}

#folderTree>treechildren::-moz-tree-row {
    height: var(--folder-tree-row-height) !important;
}

#folderTree>treechildren::-moz-tree-row(selected) {
    border: none !important;
}

#folderTree>treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
#folderTree>treechildren::-moz-tree-cell-text(folderNameCol, closed, subfoldersHaveUnreadMessages-true) {
    color: #fff !important;
    font-style: italic !important;
}

/*    Thread tree sizes   */

#threadTree>treechildren::-moz-tree-row {
    height: var(--message-list-row-height) !important;
    border: none !important;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2) !important;
}

#threadTree>treechildren::-moz-tree-row(selected) {
    border: none !important;
}

#threadCols,
#threadCols treecol,
#threadCols treecolpicker,
#calendar-task-tree treecol,
#calendar-task-tree treecolpicker,
#unifinder-search-results-tree treecol,
#unifinder-search-results-tree treecolpicker,
#unifinder-todo-tree treecol,
#unifinder-todo-tree treecolpicker {
    -moz-appearance: none !important;
}

#threadCols treecol[sortDirection="ascending"] .treecol-sortdirection {
    -moz-appearance: button-arrow-up !important;
}

#threadCols treecol[sortDirection="descending"] .treecol-sortdirection {
    -moz-appearance: button-arrow-down !important;
}

#threadCols treecol,
#threadCols treecolpicker,
#calendar-task-tree treecol,
#calendar-task-tree treecolpicker,
#unifinder-search-results-tree treecol,
#unifinder-search-results-tree treecolpicker,
#unifinder-todo-tree treecol,
#unifinder-todo-tree treecolpicker {
    color: #fff !important;
    fill: #fff;
    border: none !important;
    padding: 3px !important;
    border-left: 1px solid rgba(127, 127, 127, 0.4) !important;
    min-width: 21px !important;
}

#threadCols treecol, 
#calendar-task-tree treecol, 
#calendar-task-tree treecolpicker,  
#unifinder-search-results-tree treecol, 
#unifinder-search-results-tree treecolpicker,
#unifinder-todo-tree treecol,
#unifinder-todo-tree treecolpicker {
    background-color: var(--background-color-light) !important;
}

#threadPane {
    -moz-appearance: none !important;
}

.toolbarbutton-1.msgHeaderView-button {
    background-image: linear-gradient(0, var(--background-color-light), var(--background-color-light)) !important;
}

.headerValue, .dateLabel {
    color: #fff;
}

#folderpane_splitter {
    border-inline-start: 1px solid var(--background-color) !important;
}

#threadpane-splitter, #folderTree:not(:-moz-lwtheme) {
    border-bottom: 1px solid var(--background-color) !important;
}

statusbar {
    -moz-appearance: none;
    background-color: var(--background-color) !important;
    color: #fff;
}

/* Calendar */
.miniday-nav-buttons {
    fill: #fff !important;
    -moz-context-properties: fill, fill-opacity;
}

#today-pane-panel, #mini-day-box, #agenda-toolbar, #todo-tab-panel, #mini-day-box stack, #miniday-dropdown-button, #mini-day-box > stack > hbox > vbox {
    background-color: var(--background-color);
}

#agenda-toolbar:-moz-window-inactive, #todo-tab-panel:-moz-window-inactive, #mini-day-box:-moz-window-inactive, #mini-day-box stack:-moz-window-inactive, #today-pane-splitter:-moz-window-inactive {
    background-color: var(--background-color) !important;
}

.today-subpane {
    color: #fff;
}

#today-pane-panel > sidebarheader {
    border-bottom: 0;
}

#todaypane-new-event-button {
    color: #fff;
    fill: #fff;
    -moz-context-properties: fill, fill-opacity;
}

#agenda-listbox {
    background-color: var(--background-color);
    color: #fff;
}

#today-pane-panel > sidebarheader {
    background: var(--background-color-light);
}

.agenda-container-box[selected="true"],
.agenda-allday-container-box[selected="true"],
.agenda-checkbox[selected="true"],
.agenda-container-box[selected="true"][current="true"],
.agenda-allday-container-box[selected="true"][current="true"],
.agenda-checkbox[selected="true"][current="true"] {
    background-color: var(--tree-background-color-selected);
    color: #fff;
}

.agenda-container-box[current="true"],
.agenda-alldaycontainer-box[current="true"],
.agenda-checkbox[current="true"],
.agenda-container-box[selected="true"][current="true"][disabled="true"],
.agenda-allday-container-box[selected="true"][current="true"][disabled="true"],
.agenda-checkbox[selected="true"][current="true"][disabled="true"] {
    color: #000;
}

sidebarheader > label {
    color: #fff;
}

.today-pane-cycler {
    fill: white;
}

/* Lightning */

#ltnSidebar, #unifinder-todo-tree > .calendar-task-tree {
    background-color: var(--background-color);
}

minimonth, #task-addition-box {
    background: var(--background-color-light);
}

treenode-checkbox, #task-filtertree-pane, .checkbox-label,#task-filter-pane radio:hover {
    color: #fff;
}

calendar-list-tree > tree {
    background: transparent;
}

#unifinder-searchBox {
    background-color: var(--background-color-light);
    color: var(--search-text-color);
}

#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text,
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover, selected),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover, current),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected, focus),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text,
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected, focus),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover, selected),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover, current) {
    color: var(--message-list-text-color);
}

#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover) {
    color: var(--message-list-text-color);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(odd),
#calendar-list-tree-widget treechildren::-moz-tree-row(odd),
#calendar-task-tree-detail treechildren::-moz-tree-row(even),
#calendar-list-tree-widget treechildren::-moz-tree-row(even) {
  background: var(--background-color);
}

#calendar-task-tree-detail treechildren,
#calendar-list-tree-widget treechildren,
#calendar-task-tree treechildren, 
#unifinder-search-results-tree > treechildren  {
    color: var(--thread-background-color) !important;
    --treechildren-currentColor: var(--tree-background-color-selected);
    --treechildren-hoverBackground: var(--tree-background-color-hover);
    --treechildren-hoverCurrentBackground: var(--tree-background-color-hover);
    --treechildren-selectedBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusCurrentBackground: var(--tree-background-color-selected);
    --treechildren-hoverSelectedBackground: var(--tree-background-color-selected);
    --treechildren-selectedColor: #000;
    --treechildren-focusColor: var(--tree-background-color-selected);
    --treechildren-selectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-selectedFocusCurrentImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-hoverSelectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-hoverImage: linear-gradient(var(--tree-background-color-hover), var(--tree-background-color-hover));
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected),
#calendar-list-tree-widget treechildren::-moz-tree-row(selected),
#calendar-task-tree treechildren::-moz-tree-row(selected),
#unifinder-search-results-tree treechildren::-moz-tree-row(selected) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-row(dropOn) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected, current, focus) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover),
#calendar-list-tree-widget treechildren::-moz-tree-row(hover),
#calendar-task-tree treechildren::-moz-tree-row(hover),
#unifinder-search-results-tree treechildren::-moz-tree-row(hover) {
    border-color: var(--tree-background-color-hover);
    background-color: var(--tree-background-color-hover);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover, current),
#calendar-list-tree-widget treechildren::-moz-tree-row(hover, current),
#calendar-task-tree treechildren::-moz-tree-row(hover, current),
#unifinder-search-results-tree treechildren::-moz-tree-row(hover, current)  {
    border-color: var(--tree-background-color-selected);
    background-image: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover, selected),
#calendar-list-tree-widget treechildren::-moz-tree-row(hover, selected),
#calendar-task-tree treechildren::-moz-tree-row(hover, selected),
#unifinder-search-results-tree treechildren::-moz-tree-row(hover, selected)  {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}

#calendar-task-details-container {
    background: var(--background-color);
    border: 0;
}

#calendar-task-details, #task-actions-toolbar {
    background: var(--background-color);
    color: #fff;
    fill: #fff;
}

#calendar-task-details row label {
    color: #fff;
    fill: #fff;
}

#calMinimonthBox {
    margin-top: 0px;
}