@import url(chrome://MonterailOverlay/skin/css/icons/messanger.css);
@import url(chrome://MonterailOverlay/skin/css/icons/folder.css);

@font-face {
    font-family: 'LightSans';
    src: url('../fonts/encodesansnarrow-light.woff2') format('woff2'), url('../fonts/encodesansnarrow-light.woff') format('woff'), url('../fonts/encodesansnarrow-light.ttf') format('truetype'), url('../fonts/encodesansnarrow-light.svg#encode_sans_narrowlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Background color Navigation & Folder Pane */
    --background-color: #31363B;
	--background-color-inactive: #393f44;
	
    /* Background Toolbox & Compose*/
	--background-color-light: #838689;
	
    /* Background folder/thread */
    --thread-background-color: #232629;
    --tree-background-color-selected: #3DAEE9;
	--tree-background-color-hover: rgba(255,255,255,.1);
	
	/* Fonts */
    --default-font: LightSans;
	--message-list-text-color: #fff;
	
	/*Message row & Folder row height */
    --message-list-row-height: 40px;
	--folder-tree-row-height: 25px;
	
    /* Scollbar */
    --scrollbar-thumb-color: rgba(127, 127, 127, 0.5);
	--scrollbar-thumb-hover-color: var(--tree-background-color-selected);
	
    /* Message Headers */
    --subject-line-font-size: 150%;
    --headers-background-color: #F2F1F0;
    --headers-text-color: var(--message-list-text-color);

    /* Search Box */
    --search-background-color: var(--background-color);
    --search-text-color: #fff;
}

* {
    font-family: var(--default-font);
}

#mail-toolbar-menubar2,
#mail-bar3 #MsgHeadersToolbar,
#addrbook-toolbar-menubar2,
#ab-bar2,
#FormatToolbar {
    -moz-appearance: none !important;
    border: none !important;
}

toolbar>toolbarbutton {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

box,
hbox,
vbox,
toolbox {
    box-shadow: none !important;
}

splitter {
    border-color: rgba(127, 127, 127, 0.25) !important;
}

.mail-toolbox::after,
.contentTabToolbox::after {
    content: "";
    display: none !important;
    height: 0px !important;
}

menu[disabled="true"] label,
menuitem[disabled="true"] label,
.splitmenu-menuitem[disabled="true"] label,
menucaption[disabled="true"] label,
.chromeclass-toolbar menu[disabled="true"] label,
.chromeclass-toolbar menuitem[disabled="true"] label,
.chromeclass-toolbar .splitmenu-menuitem[disabled="true"] label,
.chromeclass-toolbar menucaption[disabled="true"] label {
    color: grey !important;
}

/*    Scrollbar    */

scrollbar {
    width: 15px !important;
    max-width: 15px !important;
    -moz-appearance: none !important;
    background: none !important;
    border: none !important;
}

srollbarbutton {
    width: 10px !important;
    max-width: 10px !important;
}

slider {
    width: 15px !important;
    max-width: 15px !important;
    -moz-appearance: none !important;
    background: none !important;
    border: none !important;
}

thumb {
    width: 15px !important;
    max-width: 15px !important;
    -moz-appearance: none !important;
    min-height: 100px !important;
    border: none !important;
    background: var(--scrollbar-thumb-color) !important;
}

thumb:hover {
    background: var(--scrollbar-thumb-hover-color) !important;
}

/* Search Box */
.searchBox {
    background-color: var(--search-background-color);
    color: var(--search-text-color);
}

/* Calendar */
.miniday-nav-buttons {
    fill: #fff !important;
    -moz-context-properties: fill, fill-opacity;
}

#today-pane-panel, #mini-day-box, #agenda-toolbar, #todo-tab-panel, #mini-day-box stack, #miniday-dropdown-button, #mini-day-box > stack > hbox > vbox {
    background-color: var(--background-color);
}

#agenda-toolbar:-moz-window-inactive, #todo-tab-panel:-moz-window-inactive, #mini-day-box:-moz-window-inactive, #mini-day-box stack:-moz-window-inactive, #today-pane-splitter:-moz-window-inactive {
    background-color: var(--background-color) !important;
}

.today-subpane {
    color: #fff;
}

#today-pane-panel > sidebarheader {
    border-bottom: 0;
}

#todaypane-new-event-button {
    color: #fff;
    fill: #fff;
    -moz-context-properties: fill, fill-opacity;
}

#agenda-listbox {
    background-color: var(--background-color);
    color: #fff;
}

#today-pane-panel > sidebarheader {
    background: var(--background-color-light);
}

.agenda-container-box[selected="true"],
.agenda-allday-container-box[selected="true"],
.agenda-checkbox[selected="true"],
.agenda-container-box[selected="true"][current="true"],
.agenda-allday-container-box[selected="true"][current="true"],
.agenda-checkbox[selected="true"][current="true"] {
    background-color: var(--tree-background-color-selected);
    color: #fff;
}

.agenda-container-box[current="true"],
.agenda-alldaycontainer-box[current="true"],
.agenda-checkbox[current="true"],
.agenda-container-box[selected="true"][current="true"][disabled="true"],
.agenda-allday-container-box[selected="true"][current="true"][disabled="true"],
.agenda-checkbox[selected="true"][current="true"][disabled="true"] {
    color: #000;
}

sidebarheader > label {
    color: #fff;
}

.today-pane-cycler {
    fill: white;
}

/* Lightning */

#ltnSidebar, #unifinder-todo-tree > .calendar-task-tree {
    background-color: var(--background-color);
}

minimonth, #task-addition-box {
    background: var(--background-color-light);
}

treenode-checkbox, #task-filtertree-pane, .checkbox-label {
    color: #fff;
}

calendar-list-tree > tree {
    background: transparent;
}

#unifinder-searchBox {
    background-color: var(--background-color-light);
    color: var(--search-text-color);
}

#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text,
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover, selected),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover, current),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected, focus),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text,
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected, focus),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover, selected),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover, current) {
    color: var(--message-list-text-color);
}

#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover) {
    color: var(--message-list-text-color);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(odd),
#calendar-list-tree-widget treechildren::-moz-tree-row(odd),
#calendar-task-tree-detail treechildren::-moz-tree-row(even),
#calendar-list-tree-widget treechildren::-moz-tree-row(even) {
  background: var(--background-color);
}

#calendar-task-tree-detail treechildren,
#calendar-list-tree-widget treechildren {
    color: var(--thread-background-color) !important;
    --treechildren-currentColor: var(--tree-background-color-selected);
    --treechildren-hoverBackground: var(--tree-background-color-hover);
    --treechildren-hoverCurrentBackground: var(--tree-background-color-hover);
    --treechildren-selectedBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusCurrentBackground: var(--tree-background-color-selected);
    --treechildren-hoverSelectedBackground: var(--tree-background-color-selected);
    --treechildren-selectedColor: #000;
    --treechildren-focusColor: var(--tree-background-color-selected);
    --treechildren-selectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-selectedFocusCurrentImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-hoverSelectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-hoverImage: linear-gradient(var(--tree-background-color-hover), var(--tree-background-color-hover));
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected),
#calendar-list-tree-widget treechildren::-moz-tree-row(selected) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-row(dropOn) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected, current, focus) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover),
#calendar-list-tree-widget treechildren::-moz-tree-row(hover) {
    border-color: var(--tree-background-color-hover);
    background-color: var(--tree-background-color-hover);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover, current) {
    border-color: var(--tree-background-color-selected);
    background-image: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover, selected) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}