@import url(chrome://MonterailOverlay/skin/css/icons/messanger.css);
@import url(chrome://MonterailOverlay/skin/css/icons/folder.css);

@font-face {
    font-family: 'LightSans';
    src: url('../fonts/encodesansnarrow-light.woff2') format('woff2'), url('../fonts/encodesansnarrow-light.woff') format('woff'), url('../fonts/encodesansnarrow-light.ttf') format('truetype'), url('../fonts/encodesansnarrow-light.svg#encode_sans_narrowlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Background color Navigation & Folder Pane */
    --background-color: #31363B;
	--background-color-inactive: #393f44;
	
    /* Background Toolbox & Compose*/
	--background-color-light: #838689;
	
    /* Background folder/thread */
    --thread-background-color: #232629;
    --tree-background-color-selected: #3DAEE9;
	--tree-background-color-hover: rgba(255,255,255,.1);
	
	/* Fonts */
    --default-font: LightSans;
    --message-list-text-color: #fff;
    --link-color: #80CAFE;
	
	/*Message row & Folder row height */
    --message-list-row-height: 40px;
	--folder-tree-row-height: 25px;
	
    /* Scollbar */
    --scrollbar-thumb-color: rgba(127, 127, 127, 0.5);
	--scrollbar-thumb-hover-color: var(--tree-background-color-selected);
	
    /* Message Headers */
    --subject-line-font-size: 150%;
    --headers-background-color: #F2F1F0;
    --headers-text-color: var(--message-list-text-color);

    /* Search Box */
    --search-background-color: var(--background-color);
    --search-text-color: #fff;
}

* {
    font-family: var(--default-font);
}

#mail-toolbar-menubar2,
#mail-bar3 #MsgHeadersToolbar,
#addrbook-toolbar-menubar2,
#ab-bar2,
#FormatToolbar {
    -moz-appearance: none !important;
    border: none !important;
}

toolbar>toolbarbutton {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

box,
hbox,
vbox,
toolbox {
    box-shadow: none !important;
}

splitter {
    border-color: rgba(127, 127, 127, 0.25) !important;
}

.mail-toolbox::after,
.contentTabToolbox::after {
    content: "";
    display: none !important;
    height: 0px !important;
}

menu[disabled="true"] label,
menuitem[disabled="true"] label,
.splitmenu-menuitem[disabled="true"] label,
menucaption[disabled="true"] label,
.chromeclass-toolbar menu[disabled="true"] label,
.chromeclass-toolbar menuitem[disabled="true"] label,
.chromeclass-toolbar .splitmenu-menuitem[disabled="true"] label,
.chromeclass-toolbar menucaption[disabled="true"] label {
    color: grey !important;
}

/*    Scrollbar    */

scrollbar {
    width: 15px !important;
    max-width: 15px !important;
    -moz-appearance: none !important;
    background: none !important;
    border: none !important;
}

srollbarbutton {
    width: 10px !important;
    max-width: 10px !important;
}

slider {
    width: 15px !important;
    max-width: 15px !important;
    -moz-appearance: none !important;
    background: none !important;
    border: none !important;
}

thumb {
    width: 15px !important;
    max-width: 15px !important;
    -moz-appearance: none !important;
    min-height: 100px !important;
    border: none !important;
    background: var(--scrollbar-thumb-color) !important;
}

thumb:hover {
    background: var(--scrollbar-thumb-hover-color) !important;
}

/* Search Box */
.searchBox, #view-task-edit-field, #unifinder-task-edit-field {
    background-color: var(--search-background-color);
    color: var(--search-text-color);
}