@import url(chrome://MonterailOverlay/content/skin/root.css);

#heading_wrapper {
  color: #fff;
  background-color: var(--background-color);
}

#heading_wrapper:-moz-window-inactive {
  color: #ddd;
  background-color: var(--background-color-inactive);
}

.toolbarbutton-1.msgHeaderView-button {
  color: #666;
  fill: #666;
  -moz-context-properties: fill;
}

#hdrArchiveButton {
  list-style-image: url("chrome://monterailoverlay/content/skin/icons/archive.svg");
}

#hdrTrashButton {
  list-style-image: url("chrome://monterailoverlay/content/skin/icons/delete.svg");
}
