#button-getmsg {
    list-style-image: url("chrome:../../icons/getmsg.svg") !important;
}

#button-newmsg,
notification[value="draftMsgContent"] .messageImage {
    list-style-image: url("chrome:../../icons/newmsg.svg") !important;
}

#button-address {
    list-style-image: url("chrome:../../icons/addressbook.svg") !important;
}

#button-reply,
.hdrReplyButton,
.hdrReplyToSenderButton,
.hdrDummyReplyButton {
    list-style-image: url("chrome:../../icons/reply.svg") !important;
}

#button-replyall,
.hdrReplyAllButton {
    list-style-image: url("chrome:../../icons/replyAll.svg") !important;
}

#button-replylist,
.hdrReplyListButton,
.hdrFollowupButton {
    list-style-image: url("chrome:../../icons/replyList.svg") !important;
}

#button-forward,
.hdrForwardButton {
    list-style-image: url("chrome:../../icons/forwarding.svg") !important;
}

.delete-button,
.hdrTrashButton {
    list-style-image: url("chrome:../../icons/delete.svg") !important;
}

.junk-button,
.hdrJunkButton {
    list-style-image: url("chrome:../../icons/junk.svg") !important;
}

#button-print {
    list-style-image: url("chrome:../../icons/print.svg") !important;
}

#button-stop {
    list-style-image: url("chrome:../../icons/stop.svg") !important;
}

#button-file {
    list-style-image: url("chrome:../../icons/file.svg") !important;
}

#button-nextUnread {
    list-style-image: url("chrome:../../icons/nextUnread.svg") !important;
}

#button-previousUnread {
    list-style-image: url("chrome:../../icons/previousUnread.svg") !important;
}

#button-mark {
    list-style-image: url("chrome:../../icons/mark.svg") !important;
}

#button-tag {
    list-style-image: url("chrome:../../icons/tag.svg") !important;
}

#button-goback {
    list-style-image: url("chrome:../../icons/back.svg") !important;
}

#button-goforward {
    list-style-image: url("chrome:../../icons/forward.svg") !important;
}

#button-compact {
    list-style-image: url("chrome:../../icons/compact.svg") !important;
}

#button-archive,
.hdrArchiveButton {
    list-style-image: url("chrome:../../icons/archive.svg") !important;
}

#button-chat {
    list-style-image: url("chrome:../../icons/chat.svg") !important;
}

#button-nextMsg {
    list-style-image: url("chrome:../../icons/next.svg") !important;
}

#button-previousMsg {
    list-style-image: url("chrome:../../icons/previous.svg") !important;
}

#qfb-show-filter-bar,
#palette-box #qfb-show-filter-bar {
    list-style-image: url("chrome:../../icons/qfb.svg") !important;
}

#button-showconversation {
    list-style-image: url("chrome:../../icons/conversation.svg") !important;
}

#button-add-buddy {
    list-style-image: url("chrome:../../icons/Chat_NewContact.svg") !important;
}

#button-join-chat {
    list-style-image: url("chrome:../../icons/Chat_JoinChat.svg") !important;
}

#button-chat-accounts {
    list-style-image: url("chrome:../../icons/Chat_ShowAccounts.svg") !important;
}

#calendar-tab-button,
#lightning-button-calendar,
#newMsgButton-calendar-menuitem {
    list-style-image: url("chrome:../../icons/calendar.svg") !important;
}

#task-tab-button,
#newMsgButton-task-menuitem {
    list-style-image: url("chrome:../../icons/tasks.svg") !important;
}

#extractEventButton {
    list-style-image: url("chrome:../../icons/addAsEvent.svg") !important;
}

#extractTaskButton {
    list-style-image: url("chrome:../../icons/addAsTask.svg") !important;
}

#appmenu-cut,
#appmenu-editmenu-menupopup>#appmenu-editmenu-cut {
    list-style-image: url("chrome:../../icons/cut.svg") !important;
    -moz-image-region: auto;
}

#appmenu-copy,
#appmenu-editmenu-menupopup>#appmenu-editmenu-copy {
    list-style-image: url("chrome:../../icons/copy.svg") !important;
    -moz-image-region: auto;
}

#appmenu-paste,
#appmenu-editmenu-menupopup > #appmenu-editmenu-paste {
    list-style-image: url("chrome:../../icons/paste.svg") !important;
    -moz-image-region: auto;
}

#appmenuPrimaryPane > #appmenu-quit {
    list-style-image: url("chrome:../../icons/stop.svg") !important;
    -moz-image-region: auto;
}

#task-actions-category {
    list-style-image: url("chrome:../../icons/tag.svg") !important;
}

#task-actions-markcompleted {
    list-style-image: url("chrome:../../icons/accept.svg") !important;
}

#task-actions-priority {
    list-style-image: url("chrome:../../icons/priority.svg") !important;
}

#calendar-delete-task-button {
    list-style-image: url("chrome:../../icons/delete.svg") !important;
}