.heading.info {
  color: CaptionText;
}

.count, .date {
  color: InactiveCaptionText;
}

.info,
.message > .header > .snippet,
.message > .header > .senders {
  color: GrayText;
}

#header-view-toolbox {
  font: message-box;
}

.star {
  width: 12px;
  height: 12px;
  margin-right: 0.5em;
}

.starred .star {
  background-image: url("chrome://messenger/skin/icons/flag-col.png");
}

.toolbarbutton-1.msgHeaderView-button {
  background: -moz-dialog;
}

.toolbarbutton-1.msgHeaderView-button:not([disabled=true]):not([checked=true]):not([open]):not(:active):hover {
  background: -moz-dialog linear-gradient(rgba(255, 255, 255, .5), transparent);
}

.toolbarbutton-1.msgHeaderView-button:not([disabled=true]):not([checked=true]):not([open]):not(:active):hover {
  background: rgb(154, 154, 154) linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .4));
}
